<!DOCTYPE html>
<html>
	<head>

		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link href="{{ asset( "assets/img/favicon.png") }}" rel="icon">
		<link href="{{ asset("assets/img/apple-touch-icon.png") }}" rel="apple-touch-icon">
		<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

		{# Run `composer require symfony/webpack-encore-bundle`
																										           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
			<link href="{{ asset("assetassets/vendor/venobox/venobox.css") }}" rel="stylesheet">
			<link href="{{ asset("assets/vendor/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet">
			<link href="{{ asset("assets/vendor/owl.carousel/assets/owl.carousel.min.css") }}" rel="stylesheet">
			<link href="{{ asset("assets/vendor/aos/aos.css") }}" rel="stylesheet">
			<link href="{{ asset("assets/css/style.css") }}" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
			<script src="{{ asset("assets/vendor/jquery/jquery.min.js") }}"></script>
			<script src="{{ asset("assets/vendor/bootstrap/js/bootstrap.bundle.min.js") }}"></script>
			<script src="{{ asset("assets/vendor/jquery.easing/jquery.easing.min.js") }}"></script>
			<script src="{{ asset("assets/vendor/php-email-form/validate.js") }}"></script>
			<script src="{{ asset("assets/vendor/venobox/venobox.min.js") }}"></script>
			<script src="{{ asset("assets/vendor/owl.carousel/owl.carousel.min.js") }}"></script>
			<script src="{{ asset("assets/vendor/superfish/superfish.min.js") }}"></script>
			<script src="{{ asset("assets/vendor/hoverIntent/hoverIntent.js") }}"></script>
			<script src="{{ asset("assets/vendor/aos/aos.js") }}"></script>

			<!-- Template Main JS File -->
			<script src="{{ asset("assets/js/main.js") }}"></script>

		{% endblock %}
	</head>
	<body>
		{{ include("nav/navbar.html.twig")}}

		{% block body %}{% endblock %}
	</body>
</html>
