<header id="header" class="d-flex align-items-center header-scrolled">
	<div class="container">

		<div id="logo" class="pull-left">
			<!-- Uncomment below if you prefer to use a text logo -->
			<!-- <h1><a href="#intro">The<span>Event</span></a></h1>-->
				<a href="/" class="scrollto"> <img src="assets/img/logo.png" alt="" title=""></a>
		</div>

		<nav id="nav-menu-container">
			<ul class="nav-menu">
				<li class="menu-active">
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="#about">About</a>
				</li>
				<li>
					<a href="#speakers">Speakers</a>
				</li>
				<li>
					<a href="#schedule">Schedule</a>
				</li>
				<li>
					<a href="#venue">Venue</a>
				</li>
				<li>
					<a href="#hotels">Hotels</a>
				</li>
				<li>
					<a href="#gallery">Gallery</a>
				</li>
				<li>
					<a href="#supporters">Sponsors</a>
				</li>
				<li>
					<a href="#contact">Contact</a>
				</li>
				<li class="buy-tickets">
					<a href="/login">Connexion</a>
				</li>
			</ul>
		</nav>
		<!-- #nav-menu-container -->
	</div>
</header>
<!-- End Header -->

<!-- End Intro Section -->
